<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="assets/img/Vector.png" rel="icon">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  
  
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  





<link rel="stylesheet" href="/UrbanDelive1/assets/css/about.css">










</head>
<body>
    
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="/UrbanDelive1/index.html" class="logo d-flex align-items-center me-auto me-lg-0">
    
        <img src="/UrbanDelive1/assets/img/logourban.png" alt="">
      </a>

     

  <nav class="fill">
      <ul style="display: flex; flex-direction: row; list-style: none; padding-top: 30px; font-weight: 500;">
        <li style="padding: 20px;"><a href="/UrbanDelive1/index.html">Home</a></li>
        <li style="padding: 20px;"><a href="/UrbanDelive1/templates/about.html">About</a></li>
        <li style="padding: 20px; padding-right: 120px;" ><a href="/UrbanDelive1/templates/contact.html">Contact</a></li>
      </ul>
    </nav>
        <button class="buttondow">
          <span>Download</span>
        </button>
     
 

      
     
  </header>










  <div class="we-are-block">

    <div id="about-us-section">
  
      <div class="about-us-image">
  
        <img src="/UrbanDelive1/assets/img/aboutphoto.png" width="808" height="458" alt="Lobby Image">
  
      </div>
  
      <div class="about-us-info">
  
        <h2> Zero Carbon Emission</h2>
  <p style="font-size: 20px;">Together, let's make a positive impact on the environment, one delivery at a time.</p>



  <p style="font-size: 15px; color: rgb(232, 232, 232);">Introducing our zero carbon emission-based delivery app! We are proud to offer a sustainable solution for all your delivery needs while prioritizing the well-being of the planet. With our app, you can enjoy the convenience of quick and efficient deliveries without contributing to harmful emissions or air pollution.</p>





        <a href="#" title="About Us Button">ABOUT US</a>
  
      </div>
  
    </div>
  
    <div id="history-section">
  
      <div class="history-image">
  
        <img src="/UrbanDelive1/assets/img/aboutphoto.png" width="951" height="471" alt="Building Pic">
  
      </div>
  
      <div class="history-info">
  
        <h2> We're Unique</h2>
  
<p>
    Our delivery app is designed to minimize the environmental impact associated with traditional delivery methods. By utilizing a fleet of electric vehicles, bicycles, or even walking couriers, we ensure that every delivery is made with zero carbon emissions. We are committed to reducing our carbon footprint and promoting a greener future for everyone.
    </p>  
        
  
      </div>
  
    </div>
  
  </div>









































  
  <script>document.querySelector('.buttondow').onmousemove = function (e) {

    var x = e.pageX - e.target.offsetLeft;
    var y = e.pageY - e.target.offsetTop;
  
    e.target.style.setProperty('--x', x + 'px');
    e.target.style.setProperty('--y', y + 'px');
  };</script>

</body>
</html>