<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=">
  <title>Responsive Contact Us Page</title>


  <link href="assets/img/Vector.png" rel="icon">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">


  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">





























  <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>




















  <link rel="stylesheet" href="/UrbanDelive1/assets/css/contact.css">

</head>



























<body>
  

















  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="/UrbanDelive1/index.html" class="logo d-flex align-items-center me-auto me-lg-0">
    
        <img src="/UrbanDelive1/assets/img/logourban.png" alt="">
      </a>

     

  <nav class="fill">
      <ul style="display: flex; flex-direction: row; list-style: none; padding-top: 30px; font-weight: 500;">
        <li style="padding: 20px;"><a href="/UrbanDelive1/index.html">Home</a></li>
        <li style="padding: 20px;"><a href="/UrbanDelive1/templates/about.html">About</a></li>
        <li style="padding: 20px; padding-right: 120px;" ><a href="/UrbanDelive1/templates/contact.html">Contact</a></li>
      </ul>
    </nav>
        <button class="buttondow">
          <span>Download</span>
        </button>
     
 

      
     
  </header>







































  <section>
    
    <div class="section-header">
      <div class="container">
        <h2>CONTACT </h2>
      </div>
    </div>
    
    <div class="container" style="width: 1400px; margin-left: 100px;">
      <div class="row" style="display: flex; flex-direction: row;">
        
        <div class="contact-info">
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-home" style="color: #1a3903;"></i>
            </div>
            
            <div class="contact-info-content">
              <h4>Address</h4>
              <p>Vadodara, Gujarat</p>
            </div>
          </div>
          
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-phone" style="color: #1a3903;"></i>
            </div>
            
            <div class="contact-info-content">
              <h4>Phone</h4>
              <p>+91(9823338928)
              </p>
            </div>
          </div>
          
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-envelope" style="color: #1a3903;"></i>
            </div>
            
            <div class="contact-info-content">
              <h4>Email</h4>
             <p>info@mamotechnolabs.com</p>
            </div>
          </div>
        </div>
        
        <div class="contact-form">
          <form action="" id="contact-form">
            <h2>Send Message</h2>
            <div class="input-box">
              <input type="text" required="true" name="Name" value="" placeholder="Name">
              <!-- <span>Full Name</span> -->
            </div>
            
            <div class="input-box">
              <input type="email" required="true" name="" value="" placeholder="Email">
              <!-- <span>Email</span> -->
            </div>
            
            
            <div class="input-box">
              <input type="Location" required="true" name="" value="" placeholder="Location">
              <!-- <span>Location</span> -->
            </div>
            
            <div class="input-box">
              <textarea required="true" name="" placeholder="Message.."></textarea>
              <!-- <span>Type your Message...</span> -->
            </div>
            
            <div class="input-box">
              <input type="submit" value="Send" name="">
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </section>





  <script>document.querySelector('.buttondow').onmousemove = function (e) {

    var x = e.pageX - e.target.offsetLeft;
    var y = e.pageY - e.target.offsetTop;
  
    e.target.style.setProperty('--x', x + 'px');
    e.target.style.setProperty('--y', y + 'px');
  };</script>
  
</body>
</html>